:root {
    --bg-color: rgb(116, 104, 89);
    --copyright-bg-color: rgb(21, 14, 0);
    --fg-color: white;
    --fg-color-alt: wheat;
    --transparent: rgba(0, 0, 0, 0%);
    --semi-transparent:rgba(0, 0, 0, 50%);
    --glass-brown:rgba(69, 53, 33, 0.5);
    --darker-glass-brown:rgba(69, 53, 33, 0.75);
    --nav-bar-bg:rgb(30, 21, 21);
    --nav-bar-fg:rgb(240, 240, 185);
    --nav-bar-hover-fg:rgb(102, 78, 49);
    --hero-image: url("images/hero-image.png");
    --quality-section-image: url("images/quality-section.png");
    --reputation-section-image: url("images/reputation-section.png");
    --delivery-section-image: url("images/delivery-section.png");
    --career-section-image: url("images/career-section.png");
    --last-section-image: url("images/last-section.png");
    --default-font: serif;
}

#hero {
    background-image: var(--hero-image);
}

#quality-section {
    background-image: var(--quality-section-image);
}

#reputation-section {
    background-image: var(--reputation-section-image);
}

#delivery-section {
    background-image: var(--delivery-section-image);
}

#career-section {
    background-image: var(--career-section-image);
}

#last-section {
    background-image: var(--last-section-image);
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: var(--default-font);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: var(--nav-bar-bg);
    padding: 5px;
    position: sticky;
    top: 0px;
} 

.nav-button {
    font-family: var(--default-font);
    font-size: 1cqw;
    width: 6cqw;
    padding: 0.5cqw;
    margin-left: 0.8cqw;
    margin-right: 0.8cqw;
    border: 0px;
    color: var(--nav-bar-fg);
    background-color: var(--transparent);
}

.mobile-app-button {
    margin-left: 5%;
}

.registration-button {
    margin-left: auto;
}

.nav-button:hover {
    color:var(--nav-bar-hover-fg);
}

.caption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--darker-glass-brown);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 75vh;
}

.caption-title {
    color: var(--fg-color-alt);
    font-size: 55px;
    padding: 0;
    border: 0;
    margin: 0;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

.caption-text {
    text-align: center;
    color: var(--fg-color);
    font-size: 32px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 0;
    margin-left: 0;
    padding-right: 2vw;
    padding-left: 2vw;
}

.hero-buttons {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 0;
}

.hero-button {
    min-height: 10vh;
    min-width: 15vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    padding: 0;
    background-color: var(--glass-brown);
    color: var(--fg-color);
    border: 2px solid black;
    border-radius: 5pt;
    font-size: 1.5cqw;
    font-family: serif;
    font-weight: 550;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 20%);
}

.hero-button:hover {
    color: var(--fg-color-alt);
    background-color: var(--darker-glass-brown);
}  

.copyright-section {
    margin: 0;
    padding: 0;
    background-color:var(--copyright-bg-color);
}

.copyright-notice {
    margin: 0px;
    padding: 1cqh;
    padding-top: 0.5cqh;
    padding-bottom: 0.5cqh;
    text-align: center;
    margin-right: auto;
    font-size: 1.5cqh;
}

.copyright-links {
    text-align: center;
    margin: 0px;
    padding: 1cqh;
    padding-top: 1cqh;
    padding-bottom: 1cqh;
}

.copyright-link {
    margin: 0px;
    padding: 1cqh;
    padding-top: 1cqh;
    padding-bottom: 1cqh;
    color: wheat;
    font-size: 1.5cqh;
}

.copyright-link:hover {
    color: wheat;
}