:root {
    --bg-color: rgb(116, 104, 89);
    --fg-color: white;
    --fg-color-alt: wheat;
    --transparent: rgba(0, 0, 0, 0%);
    --semi-transparent:rgba(0, 0, 0, 50%);
    --glass-brown:rgba(69, 53, 33, 0.5);
    --darker-glass-brown:rgba(69, 53, 33, 0.75);
    --nav-bar-bg:rgb(30, 21, 21);
    --nav-bar-fg:rgb(240, 240, 185);
    --nav-bar-hover-fg:rgb(102, 78, 49);
    --coffee-beans-image: url("coffeebeans6.png");
    --default-font: serif;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: var(--default-font);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: var(--nav-bar-bg);
    padding: 5px;
} 

.nav-button {
    font-family: var(--default-font);
    font-size: 20px;
    width: 150px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
    color: var(--nav-bar-fg);
    background-color: var(--transparent);
}

.mobile-app-bar {
    margin-left: 5%;
}

.registration-bar {
    margin-left: auto;
}

.nav-button:hover {
    color:var(--nav-bar-hover-fg);
}

.caption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--darker-glass-brown);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
}

.caption-title {
    color: var(--fg-color-alt);
    font-size: 50pt;
    padding: 0;
    border: 0;
    margin: 0;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

.caption-text {
    text-align: center;
    color: var(--fg-color);
    font-size: 25pt;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 0;
    margin-left: 0;
    padding-right: 2vw;
    padding-left: 2vw;
}

#hero {
    background-image: url("coffeebeans6.png");
}

#quality-section {
    background-image: url("3717295073_f5ae257d71_o.jpg");
}

#reputation-section {
    background-image: url("hero-image.fill.size_1248x702.v1699835052.jpg");
}

#delivery-section {
    background-image: url("sacks-of-premium-roasted-coffee-2.jpg");
}

#career-section {
    background-image: url("AdobeStock_142267143-s-1920x1280.jpeg");
}

#last-section {
    background-image: url("coffee.png");
}

.hero-buttons {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 0;
}

.hero-button {
    min-height: 10vh;
    min-width: 15vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    background-color: var(--glass-brown);
    color: var(--fg-color);
    border: 2px solid black;
    border-radius: 5px;
    font-size: 35px;
    font-family: serif;
    font-weight: 550;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 20%);
}

.hero-button:hover {
    color: var(--fg-color-alt);
    background-color: var(--darker-glass-brown);
}  

.copyright-section {
    margin: 0;
    padding: 0;
    background-color: rgb(21, 14, 0);
}

.copyright-notice {
    margin: 0px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(21, 14, 0);
    text-align: center;
    margin-right: auto;
}

.copyright-links {
    text-align: center;
    margin: 0px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.copyright-link {
    margin: 0px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: wheat;
}

.copyright-link {
    margin: 0px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: wheat;
}

.copyright-link:hover {
    color: wheat;
}