:root {
    --bg-color: rgb(127, 127, 127);
    --fg-color: white;
    --transparent: rgba(0, 0, 0, 0%);
    --semi-transparent:rgba(0, 0, 0, 50%);
    --nav-bar-bg:rgb(30, 21, 21);
    --nav-bar-fg:rgb(240, 240, 185);
    --nav-bar-hover-fg:rgb(102, 78, 49);
    --coffee-beans-image: url("coffeebeans6.png");
    --default-font: serif;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: var(--default-font);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: var(--nav-bar-bg);
    padding: 5px;
} 

.mobile-app-bar {
    margin-left: 5%;
}

.registration-bar {
    margin-left: auto;
}

.nav-button {
    width: 150px;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
    color: var(--nav-bar-fg);
    background-color: var(--transparent);
}

.nav-button:hover {
    color:var(--nav-bar-hover-fg);
}

.hero {
    background-image: var(--coffee-beans-image);
    background-color: var(--semi-transparent);
    background-blend-mode: multiply;
}

.description-header {
    text-align: center;            
    font-size: 7.5cqh;
    font-weight: 600;
    color:white;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0;
}

.description-text {
    text-align: center;            
    font-size: 2.5cqh;
    color:white;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.hero-button {
    flex: 1;
    margin-right: 125px;
    margin-left: 125px;
    margin-bottom: 75px;
    padding: 50px;
    background-color: rgba(69, 53, 33, 0.5);
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 35px;
    font-family: serif;
    font-weight: 550;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 20%);
}

.hero-section-button:hover {
    color: rgb(240, 240, 185);
}

/*
.quality-section {
    display: grid;
    border: 10px rgb(69, 53, 33) double;
    margin: 100px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 20%);
}

.quality-text {
    text-align: center;            
    font-size: 2.5cqh;
    color:white;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: auto;
    margin: 0;
    grid-column: 2;
    grid-row: 1;
}

.coffee-image {
    grid-column: 1;
    grid-row: 1;
}

.reputation-section {
    display: grid;
    border: 10px rgb(69, 53, 33) double;
    margin: 100px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 20%);
}

.reputation-text {
    text-align: center;            
    font-size: 2.5cqh;
    color:white;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: auto;
    margin: 0;
    grid-column: 1;
    grid-row: 1;
}

.reputation-image {
    grid-column: 2;
    grid-row: 1;
}
*/