body {
    background-color: rgb(127, 127, 127);
    margin: 0;
    border: 0;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    background-color: rgb(30, 21, 21);
    padding: 5px;
} 

.home-page-icon, .page-icons {
    font-family: serif;
    display: flex;
    flex-direction: row;
}

.page-icons {
    margin-left: 5%;
}

.registration-bar {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.generic-button {
    width: 150px;
    padding: 10px;
    font-size: 20px;
    font-family: serif;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
    color: rgb(240, 240, 185);
    background-color: rgba(0, 0, 0, 0%);
}

.generic-button:hover {
    color:rgb(102, 78, 49);
}
.hero-section {
    background-image: url("coffeebeans6.png");
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 50%);
}

.description-header {
    text-align: center;            
    font-size: 7.5cqh;
    font-weight: 600;
    color:white;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0;
}

.description-text {
    text-align: center;            
    font-size: 2.5cqh;
    color:white;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0;
}

.hero-section-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.hero-section-button {
    flex: 1;
    margin-right: 125px;
    margin-left: 125px;
    margin-bottom: 75px;
    padding: 50px;
    background-color: rgba(69, 53, 33, 0.5);
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 35px;
    font-family: serif;
    font-weight: 550;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 20%);
}

.hero-section-button:hover {
    color: rgb(240, 240, 185);
}

.quality-section {
    display: grid;
    border: 10px rgb(69, 53, 33) double;
    margin: 100px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 20%);
}

.quality-text {
    text-align: center;            
    font-size: 2.5cqh;
    color:white;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: auto;
    margin: 0;
    grid-column: 2;
    grid-row: 1;
}

.coffee-image {
    grid-column: 1;
    grid-row: 1;
}

.reputation-section {
    display: grid;
    border: 10px rgb(69, 53, 33) double;
    margin: 100px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 20%);
}

.reputation-text {
    text-align: center;            
    font-size: 2.5cqh;
    color:white;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: auto;
    margin: 0;
    grid-column: 1;
    grid-row: 1;
}

.reputation-image {
    grid-column: 2;
    grid-row: 1;
}